
/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/**
 *MyIcon variables.
 */

$icon-css-prefix:       icon !default;
$icon-border-color:     #eee !default;
$icon-inverse:          #fff !default;
$icon-li-width:        (30em / 14) !default;

$icon-circle:			"\e600";
$icon-circle-o:			"\e601";
$icon-square:			"\e602";
$icon-square-o:			"\e603";
$icon-triangle:			"\e604";
$icon-triangle-o:		"\e605";
$icon-star:				"\e606";
$icon-star-o:			"\e607";
$icon-love:				"\e608";
$icon-love-o:			"\e609";
$icon-checkbox:			"\e60a";
$icon-checkbox-o:		"\e60b";
$icon-more:				"\e60c";
$icon-remove:			"\e60d";
$icon-asterisk:			"\e60e";
$icon-at:				"\e60f";
$icon-number:			"\e610";
$icon-money:			"\e611";
$icon-up:				"\e612";
$icon-right:			"\e613";
$icon-down:				"\e614";
$icon-left:				"\e615";
$icon-arrow-up:			"\e616";
$icon-arrow-right:		"\e617";
$icon-arrow-down:		"\e618";
$icon-arrow-left:		"\e619";
$icon-up-circle:		"\e61a";
$icon-right-circle:		"\e61b";
$icon-down-circle:		"\e61c";
$icon-left-circle:		"\e61d";
$icon-up-circle-o:		"\e61e";
$icon-right-circle-o:	"\e61f";
$icon-down-circle-o:	"\e620";
$icon-left-circle-o:	"\e621";
$icon-checkmark:		"\e622";
$icon-upload:			"\e623";
$icon-upload-o:			"\e624";
$icon-download:			"\e625";
$icon-download-o:		"\e626";
$icon-share:			"\e627";
$icon-share-o:			"\e628";
$icon-logout:			"\e629";
$icon-logout-o:			"\e62a";
$icon-refresh:			"\e62b";
$icon-refresh-o:		"\e62c";
$icon-menu:				"\e62d";
$icon-menu-o:			"\e62e";
$icon-menu-lines:		"\e62f";
$icon-cog:				"\e630";
$icon-cog-o:			"\e631";
$icon-close:			"\e632";
$icon-close-o:			"\e633";
$icon-plus:				"\e634";
$icon-plus-o:			"\e635";
$icon-search:			"\e636";
$icon-search-o:			"\e637";
$icon-power:			"\e638";
$icon-power-o:			"\e639";
$icon-plane:			"\e63a";
$icon-plane-o:			"\e63b";
$icon-pencil:			"\e63c";
$icon-pencil-o:			"\e63d";
$icon-note:				"\e63e";
$icon-note-o:			"\e63f";
$icon-bookmark:			"\e640";
$icon-bookmark-o:		"\e641";
$icon-book:				"\e642";
$icon-book-o:			"\e643";
$icon-file:				"\e644";
$icon-file-o:			"\e645";
$icon-pdf:				"\e646";
$icon-pdf-o:			"\e647";
$icon-pie:				"\e648";
$icon-pie-o:			"\e649";
$icon-bars:				"\e64a";
$icon-bars-o:			"\e64b";
$icon-cloud:			"\e64c";
$icon-cloud-o:			"\e64d";
$icon-database:			"\e64e";
$icon-database-o:		"\e64f";
$icon-mobile:			"\e650";
$icon-mobile-o:			"\e651";
$icon-screen:			"\e652";
$icon-screen-o:			"\e653";
$icon-message:			"\e654";
$icon-message-o:		"\e655";
$icon-wrench:			"\e656";
$icon-wrench-o:			"\e657";
$icon-home:				"\e658";
$icon-home-o:			"\e659";
$icon-world:			"\e65a";
$icon-world-o:			"\e65b";
$icon-info:				"\e65c";
$icon-info-o:			"\e65d";
$icon-help:				"\e65e";
$icon-help-o:			"\e65f";
$icon-number-circle:	"\e660";
$icon-number-circle-o:	"\e661";
$icon-money-circle:		"\e662";
$icon-money-circle-o:	"\e663";
$icon-lock:				"\e664";
$icon-lock-o:			"\e665";
$icon-man:				"\e666";
$icon-man-o:			"\e667";
$icon-woman:			"\e668";
$icon-woman-o:			"\e669";
$icon-alarm:			"\e66a";
$icon-alarm-o:			"\e66b";
$icon-sisu:				"\e66c";
$icon-sisu-o:			"\e66d";
$icon-sisu-name:		"\e66e";
$icon-tsys:				"\e66f";
$icon-abc:				"\e670";
$icon-apple:			"\e671";
$icon-apple-o:			"\e672";
$icon-android:			"\e673";
$icon-android-o:		"\e674";
$icon-phone: 			"\e675";
$icon-phone-o: 			"\e676";
$icon-portfolio: 		"\e677";
$icon-portfolio-o: 		"\e678";
$icon-toolbox: 			"\e679";
$icon-toolbox-o: 		"\e67a";